
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

<h2 class="title_f_p_m_gh_pro">
    <span>Giới thiệu</span>
</h2>


<div style="font-size:22px">

    Trải qua gần hai năm xây dựng và phát triển thương hiệu mỹ phẩm CCWhite , để mở rộng hệ thống kinh doanh Online , Công ty TNHH Khôi Nguyên triển khai thêm hệ thống website khoinguyenentertainment.com  chuyên kinh doanh các dòng mỹ phẩm dưỡng trắng da chiết xuất từ các nguyên liệu thiên nhiên , đặc biệt là các dòng mỹ phẩm được xách tay và nhập khẩu trực tiếp chính hãng Thái Lan , Hàn Quốc và một số nước khác .  CCWhite luôn xem khách hàng như những người bạn nên ngoài việc kinh doanh , CCWhite còn dành khá nhiều thời gian tư vấn cho khách hàng của mình để họ có được làn da đẹp nhất  , chính vì thế hiện nay được nhiều chị em mua hàng yêu mến , tin tưởng và mua hàng thường xuyên tại hệ thống Facebook cũng như đặt hàng online tại các hệ thống website của CCWhite chúng tôi .

    <br /><br /><strong>Khách hàng khi mua hàng tại shop sẽ được hỗ trợ tối đa :</strong>

    <br /><br /># Tư vấn nhiệt tình , giải đáp thắc mắc từng câu hỏi

    <br /># Trao đổi và phân tích tình hình da mặt của khách hàng để tư vấn chính xác sản phẩm khách hàng cần mua

    <br /># Giá cả cạnh tranh và tốt nhất trên thị trường

    <br /># Bán hàng chính hãng , chúng tôi tuyệt đối không kinh doanh các loại kem trộn , hàng giả, hàng dỏm gây mất uy tín và quan trọng nhất là gây tổn hại sức khỏe của khách hàng .

    <br /># Đại lý muốn kinh doanh mỹ phẩm , CCWhite hỗ trợ tối đa về giá cả , số lượng để các bạn kinh doanh , bên cạnh đó chúng tôi còn tư vấn đường hướng , các bước để các bạn có thể kinh doanh một cách hiệu quả .

    <br /># Chúng tôi xem khách hàng như những người bạn , đối với khách hàng mua hàng tại CCWhite thường xuyên , sẽ có hỗ trợ giảm giá , tặng quà khuyến mãi để tri ân cho khách hàng .
    <br /> 
    <br />
</div>