
@{
    ViewBag.Title = "ActivateMemberAccount";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}


<h2 class="title_f_p_m_gh_pro">
    <span>Kích hoạt tài khoản</span>
</h2>


<h2 style="color:red"> @ViewBag.Message</h2>

<button type="button" onclick="location.href='@Url.Action("Index", "Home")'" class="btn btn-primary btn-sm pull-left"><i class="fa"></i>Quay lại trang chủ</button>

