
@{
    ViewBag.Title = "ItemCancel";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}



<h2> Đã hủy mua hàng, bạn hãy tham khảo những món khác nhé </h2>

<button type="button" onclick="location.href='@Url.Action("Index", "Home")'" class="btn btn-primary btn-sm pull-right"><i class="fa fa-plus-circle"></i>Quay lại trang chủ</button>

