
@{
    ViewBag.Title = "ItemPaid";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}



<h2> Cám ơn bạn đã mua hàng </h2>

<button type="button" onclick="location.href='@Url.Action("Index", "Home")'" class="btn btn-primary btn-sm pull-right"><i class="fa fa-plus-circle"></i>Quay lại trang chủ</button>

