
@{
    ViewBag.Title = "ItemCancel";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}



<h2 class="title_f_p_m_gh_pro">
    <span>Mua hàng thất bại</span>
</h2>


<h2> Đã hủy mua hàng, bạn hãy tham khảo những món khác nhé </h2>

<button type="button" onclick="location.href='@Url.Action("Index", "Home")'" class="btn btn-primary btn-sm pull-left"><i class="fa"></i>Quay lại trang chủ</button>

