
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}
<div class="login-wrap space-base">
    <h2 class="title_f_p_m_gh_pro">Đăng nhập</h2>


    <h2>@ViewBag.ErrorMessage</h2>

    <div class="block-content">
        <form id="signinForm" method="POST" class="form-horizontal" action="">
            <fieldset>
                <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
                    <div class="form-group">
                        <label class="col-md-3 col-sm-3 control-label" for="email">Email</label>
                        <div class="col-md-9 col-sm-9">
                            <input type="email" name="email" class="form-control" value="" required="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 col-sm-3 control-label" for="password">Mật khẩu</label>
                        <div class="col-md-9 col-sm-9">
                            <input type="password" name="password" class="form-control" value="" required="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-sm-offset-3 col-md-6 col-sm-6">
                            <button type="submit" name="btnLogin" class="btn btn-primary">Đăng nhập</button><br />
                        </div>

                        @Html.ActionLink("Quên mật khẩu?", "ForgotPassword", "Home")
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>