
@{
    ViewBag.Title = "PayShoppingCardSuccessfully";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}



<h2 class="title_f_p_m_gh_pro">
    <span>Đặt hàng thành công</span>
</h2>

<h2> Chân thành cám ơn, chúng tôi sẽ giao cho bạn trong 24 giờ</h2>

<button type="button" onclick="location.href='@Url.Action("Index", "Home")'" class="btn btn-primary btn-sm pull-left"><i class="fa"></i>Quay lại trang chủ</button>

