
@{
    ViewBag.Title = "PayShoppingCardSuccessfully";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}



<h2> Đặt hàng thành công, chúng tôi sẽ giao cho bạn trong 24 giờ</h2>

<button type="button" onclick="location.href='@Url.Action("Index", "Home")'" class="btn btn-primary btn-sm pull-right"><i class="fa fa-plus-circle"></i>Quay lại trang chủ</button>

