@model IEnumerable<WebApplication1.Models.tbl_item_category>
<div class="frame-box">
    <div class="title-box">
        Danh mục sản phẩm
    </div>
    <div class="main-box">
        <ul class="ul-box">
            @foreach (var itemCategory in Model)
            {
                <li>
                    <a href="@Url.Action("ItemsByCategory","Home",new{@categoryid=itemCategory.id})" title=""><i class="fa fa-angle-right"></i>@itemCategory.name</a>
                </li>
            }
        </ul>
    </div>
</div>
